agent/n8n_templates/inbound-email-triage.json
{
  "name": "Inbound Email Triage",
  "meta": {
    "templateId": "scout-inbound-email-triage",
    "n8nVersion": "1.88.0"
  },
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "filters": {
          "readStatus": "unread",
          "sender": "__FILTER_SENDER_DOMAIN__"
        }
      },
      "id": "__NODE_ID_1__",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [240, 300],
      "credentials": { "imap": { "id": "__CRED_IMAP__", "name": "IMAP account" } }
    },
    {
      "parameters": {
        "jsCode": "// Classify email intent and extract entities\nconst email = $input.first().json;\nconst subject = (email.subject || '').toLowerCase();\nconst body = (email.text || email.html || '').replace(/<[^>]+>/g, ' ').slice(0, 2000);\n\nlet category = 'general';\nif (/demo|trial|pricing|quote/.test(subject + body)) category = 'sales';\nelse if (/bug|error|issue|broken|down/.test(subject + body)) category = 'support';\nelse if (/partner|integration|api/.test(subject + body)) category = 'partnerships';\n\nreturn [{\n  json: {\n    from: email.from?.value?.[0]?.address || '',\n    subject: email.subject || '',\n    body: body,\n    category,\n    receivedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "__NODE_ID_2__",
      "name": "Classify Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "__SCOUT_WEBHOOK_URL__",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-scout-signature", "value": "__HMAC_SIGNATURE__" },
            { "name": "x-scout-timestamp", "value": "={{ Date.now() }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ event: 'email_triage', data: $json }) }}"
      },
      "id": "__NODE_ID_3__",
      "name": "Send to Scout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": { "__rl": true, "value": "__SLACK_CHANNEL_ID__", "mode": "id" },
        "text": ":email: New *{{ $json.category }}* email from `{{ $json.from }}`\n*Subject:* {{ $json.subject }}\nRun: `{{ $json.run_id }}`"
      },
      "id": "__NODE_ID_4__",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [900, 300],
      "credentials": { "slackApi": { "id": "__CRED_SLACK_API__", "name": "Slack account" } }
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": { "main": [[{ "node": "Classify Email", "type": "main", "index": 0 }]] },
    "Classify Email": { "main": [[{ "node": "Send to Scout", "type": "main", "index": 0 }]] },
    "Send to Scout": { "main": [[{ "node": "Notify Slack", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {}
}
